@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 

 .col-md-9{
    width: 70%;
    height: 100%;
} 

.card-img-top{
    object-fit: contain;
    width: 230px;
    height: 250px;
}

.btn{
    background-color:#cb2026;
    border-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    border-color: black;
}

.btn:hover{
    background-color: black;
    border-color: red;
    color: white;
}

.text-info
{
    color: #cb2026;
}

.heading{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-top: 20px;
}