  
 .col-md-9{
    width: 70%;
    height: 100%;
} 

.card-img-top{
    object-fit: contain;
    width: 230px;
    height: 250px;
}

.btn{
    background-color:#cb2026;
    border-color: black;
}

.text-info
{
    color: #cb2026;
}