body{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000000, #414143, #2c2c2c);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: url(./Assests/img4.jpeg);
  
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}